

#alertText{
  text-align: center; 
  float:left; 
  width: 55%
}


.class-info-hover {
  background: #aaaaaa;
}

.add-session-hover {
  font-size: 50px;
  color: #dddddd;
  text-align: center;
}

.member-photo {
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

#myVideo {
  position: fixed;
  top: 36px;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 1;
  object-fit: cover;
  z-index: -1;
}

.dropdown-menu {
  width: 300px;
}

.footer-link {
  text-decoration: underline;
  color: white;
}

@media (max-width: 767.98px) {
  .display-3 {
    font-size: 3rem;
  }

  #smScreenBg {
    position: fixed;
    top: 36px;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.35;
    object-fit: cover;
    z-index: -1;
  }

  .dropdown-menu {
    width: 100%;
  }
}
.break{
color: white;
}

.w{
  background-color: white
}

.pad{
  padding: 10px
}
.n
{
  opacity: 0;
}
.glow
{
  color: yellow;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF ;
}

#anim {
  font-size: 30px;
  color: #ffffff;
  text-shadow: 1px 1px #faa65c;
  background-color: rgba(0,0,0,0.5);
  border-radius: 15px;
}
